body {
    font-family: Arial, sans-serif;
    background-image: url('https://i.pinimg.com/originals/5c/f7/29/5cf72955ad69a8063f7dbc375e1350a2.gif'); /* URL to your background image */
    background-size: cover;
    background-position: center;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(34, 139, 34, 0.8);
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 5px 0 0;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 10px;
}

.story {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.story img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.story h2 {
    margin-top: 0;
    color: #228b22;
}

.story p {
    line-height: 1.6;
    margin-bottom: 20px;
    display: flex;
    align-items: flex-start;
}

.story p img {
    margin-right: 10px;
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.story p:last-of-type {
    margin-bottom: 0;
}
footer {
    background-color: rgba(34, 139, 34, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

footer a {
    color: #ff0;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}