body {
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #ede6e6;
}

a {
    text-decoration: none;
    color: inherit;
}

.feature:hover,
.testimonial:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.hero-section .cta-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
